<!DOCTYPE html>
<html>

<head>
  <title>PrivateEvents</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>

<body>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark morpheus-den-gradient">
    <%= link_to 'Private Events', '/events', method: :get, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

      <ul class="navbar-nav mr-auto mt-lg-0">
      <li class="nav-item">
        <%= link_to 'Events', '/events', method: :get, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', '/users', method: :get, class: 'nav-link' %>
      </li>
      </ul>

      <ul class="navbar-nav ml-auto">

        <%= check_signed_in %> 

      </ul>
    </div>
  </nav>

  <p id="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>